<section class="container-fluid bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 text-center">
        <img src="assets/images/Idea.jpg" alt="lightbulb" class="mb-4" />
        <p>Have a suggestion for our app?</p>
        <a routerLink="/contact-us" class="btn btn-transparent text-danger">
          Contact us!
        </a>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <button class="btn btn-transparent text-danger">
          <img src="assets/images/JoinUs.jpg" alt="JoinUs" class="mb-4" /><br />
          <a routerLink="/register" class="text-decoration-none text-danger"
            >Join us!</a
          >
        </button>
        <p>
          Register as Owner and join hundreds of restaurants that use our
          services!
        </p>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <img src="assets/images/AboutUs.jpg" alt="contact" class="mb-4" /><br />
        <p>More about us can be found here</p>
        <a routerLink="/about-us" class="btn btn-transparent text-danger"
          >Click here!</a
        >
      </div>
    </div>
  </div>
</section>
