#food {
  background-image: url(/assets/images/restaurant/floating-hamburger.jpg);
  background-size: cover;
  background-position: center;
}

#drink {
  background-image: url(/assets/images/restaurant/fruits-juices.jpg);
  background-size: cover;
  background-position: center;
}

#food::before,
#drink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}

#drink > *,
#food > * {
  z-index: 2;
}

#dropdownMenuButton1::after {
  display: none;
}

#table {
  height: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#table:hover {
  outline: 2px solid black;
}
#table.bg-danger:hover {
  background: red !important;
}
#table.bg-secondary:hover {
  background: gray !important;
}
button {
  cursor: pointer;
}
