
<div class="admin-layout">
    <nav class="navbar navbar-expand-lg bg-light text-white border sticky-top">
      <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/LogoDark.svg" alt="Logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerAdmin" aria-controls="navbarTogglerAdmin" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerAdmin">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/owners">Owners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/restaurants">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/reservations">Reservations</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="dropdown">
              <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, {{ userName }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/user-detail/{{userId}}">Profile</a>
                <a class="dropdown-item" [routerLink]="['/admin/settings']">Settings</a>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </nav>
  
    <div class="container my-4 content">
      <router-outlet></router-outlet>
    </div>

      <footer class="bg-danger text-white text-center text-lg-start position-relative bottom-0 w-100">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2025 Copyright:
          <a class="text-white text-decoration-none" href="#">MojStol.ba</a>
        </div>
      </footer> 

  </div>
  