<div class="container-fluid bg-dark py-5 text-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-lg-4 text-center text-lg-start py-3">
                <!-- logo -->
                <a class="" href="#">MojStol</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum mi dolor, vel auctor est tristique in. Sed non dictum ipsum.</p>
            </div>
            <div class="col-12 col-lg-2 d-flex flex-column text-center py-3">
                <p class="fs-6 fw-bold text-danger">Quick access</p>
                <a class="mb-2 text-decoration-none text-white" href="/">Home</a>
                <a class="mb-2 text-decoration-none text-white" href="/restaurants">Restaurants</a>
                <a class="mb-2 text-decoration-none text-white" href="#cities">Cities</a>
            </div>
            <div class="col-12 col-lg-2 d-flex flex-column text-center py-3">
                <a class="mb-2 text-decoration-none text-white" href="/about-us">About us</a>
                <a class="mb-2 text-decoration-none text-white" href="/contact-us">Contact us</a>
                <a class="mb-2 text-decoration-none text-white" href="/privacy-policy">Privacy policy</a>
                <a class="mb-2 text-decoration-none text-white" href="/faq">FAQ</a>
            </div>
            <div class="col-12 col-lg-4 text-center py-3">
                <p class="fs-5 text-white">Do you want to be the first to receive news about new offers?</p>
                <p class="text-white">Leave us your email and we will notify you on time!</p>
                <input class="rounded p-2 border w-75 mx-auto" type="email" name="" id="" placeholder="email@example.com">
            </div>
        </div>
    </div>
</div>